---
- name: Configure Network Playbook
  vars_files:
    - inventory/group_vars/infra  
  hosts: "{{ host_or_group }}"
  gather_facts: true
  become: true
  tasks:

    - name: Configure DNS search domain Task
      ansible.builtin.shell: |
        nmcli con mod "System eth0" ipv4.dns-search "ygorod.com,domain.local"
        nmcli con show "System eth0" | grep dns-search
      changed_when: false
      register: dns_configured
      ignore_errors: true
      failed_when: false

    - name: Print DNS config facts Task
      ansible.builtin.debug:
        var: dns_configured['stdout']        
