---
- name: Deploy Git Playbook
  vars_files:
    - inventory/group_vars/infra  
  hosts: "{{ host_or_group }}"
  gather_facts: true
  become: true
  tasks:

    - name: Fetch git version Task
      ansible.builtin.shell: git --version
      changed_when: false
      register: git_installed
      failed_when: false

    - name: Install git Package Task
      ansible.builtin.dnf:
        name:
          - git
        update_cache: true
        state: latest
      when: >
        (git_installed.rc != 0) and
        (ansible_facts['os_family'] == "RedHat")

    - name: Print git facts Task
      ansible.builtin.debug:
        var: git_installed['stdout']        